table {
    border-collapse: collapse;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 140px;
    width: 900px;
    height: 500px;
    box-shadow: 10px 10px 25px;
    background-color: #7198eb;
    transition: box-shadow 200ms
}

table:hover {
    box-shadow: 20px 20px 50px;
}

caption {
    margin-bottom: 40px;
    font-size: 3em;
    font-weight: 800;
}

td, th {
    border: 2px solid black;
    padding: 15px;
    font-size: 1.2em;
}

.GreenT {
    background-color: #1cb85a;
    transition: background-color 200ms;
}

.GreenT:hover {
    background: rgba(28, 184, 90, 0.7)
}

.RedT {
    background-color: #f53b3b;
    transition: background-color 200ms;
}

.RedT:hover {
    background: rgba(245, 59, 59, 0.7)
}

.Titre {
    text-align: center;
}

.SectionLangues {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    align-items: stretch;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    gap: 80px;
    position: relative;
    z-index: 2;
    margin-top: 70px;
    text-shadow: 0.5px 0.5px;
}

.DrapeauFond {
    position: relative;
    flex-grow: 1;
    flex-basis: 0;
    border-radius: 20px;
    border: solid;
    border-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
    padding-left: 15px;
    transition: box-shadow 200ms;
}

.DrapeauFond:has(.EN) {
    flex-grow: 1.45;
}

.EN, .SP, .JP {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 200ms;
}

.DrapeauFond:hover {
    box-shadow: 10px 10px 25px black;
}

.DrapeauFond:hover :is(.EN, .SP, .JP) {
    opacity: 0.4;
}

.ListeSpeciale {
    font-weight: 800;
    font-size: 1.1em;
}

.VraiSectionLangues {
    background-color: white;
    height: 380px;
}

.TitreS {
    margin-top: 50px;
    margin-left: 50px;
    font-size: 2.5em;
}

.TitreB {
    color: black;
    text-shadow: 1px 1px #333336;
}

.TitreLangues {
    position: relative;
    top: 20px;
}

#Bilan, #Langues, #Animations {
    scroll-margin-top: 120px;
}

#ParagrapheAnimations {
    font-size: 1.3em;
    margin-top: 80px;
    margin-left: 50px;
}

.Animations {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 150px;
    margin-bottom: 200px;
}

.AnimBlock {
    width: 150px;
    height: 150px;
}

.Blue {
    animation: rotation 2000ms linear infinite running; 
    background-color: rgb(85, 82, 186);
}

.Blue:hover {
    animation-play-state: paused;
}

@keyframes rotation {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
}

.Green {
    background-color: transparent;
    width: 180px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Green:hover {
    background-color: transparent;
}

.Green:hover .Bar {
    animation-play-state: paused;
}

.Bar {
    background-color: rgb(47, 156, 47);
    height: 150px;
    width: 22px;
    animation: ondulation 1800ms infinite backwards;
    animation-timing-function: ease-in-out;
}

.B2 {
    animation-delay: 200ms;
}

.B3 {
    animation-delay: 400ms;
}

.B4 {
    animation-delay: 600ms;
}

.B5 {
    animation-delay: 800ms;
}

@keyframes ondulation {
    0% {
        transform: scaleY(0.5)
    }
    50% {
        transform: scaleY(1.3)
    }
    100% {
        transform: scaleY(0.5)
    }
}

.Yellow {
    border-radius: 90px;
    animation: balling 1000ms infinite;
    animation-direction: alternate;
    background-color: rgb(186, 144, 82);
}

.Yellow:hover {
    animation-play-state: paused;
}

@keyframes balling {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1.3);
    }
}

.Red {
    animation: shaking 150ms linear infinite running; 
    background-color: rgb(186, 82, 82);
}

.Red:hover {
    animation-play-state: paused;
}

@keyframes shaking {
    0% {
        transform: translateX(0)
    }
    20% {
        transform: translateX(-30px)
    }
    40% {
        transform: translateY(30px)
    }
    60% {
        transform: translateY(-30px)
    }
    80% {
        transform: translateX(30px)
    }
    100% {
        transform: translateY(0)
    }
}