h1 {
    font-size: 3em;
    text-shadow: 2px 2px black;
}

h2 {
    font-size: 2em;
    text-shadow: 2px 2px black;
}

h3 {
    font-size: 1.3em;
    text-shadow: 1px 1px black;
}

.TitreSommaire {
    font-size: 4em;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 75px;
}

.Sommaire {
    display: flex;
    justify-content: center;
    gap: 150px;
}

.BlockSommaire {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 100px;
}

.BS2 {
    gap: 30px;
}

.MiniL {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.NomsEntreprises {
    font-size: 3em;
    margin-bottom: 5px;
}

.Periodes{
    font-size: 1.5em;
}

.BlockLT {
    display: flex;
    align-items: center;
    gap: 10px
}

.BlockG {
    display: flex;
    align-items: center;
    gap: 50px
}

#Onogone, #IESEG, #MarieCurie {
    scroll-margin-top: 140px
}

.MegaLogo {
    transition: background-color 150ms;
    border-radius: 10px;
    padding: 10px;
}

.MegaLogoO {
    height: 70px;
    width: 160px;
}

.MegaLogoI {
    height: 60px;
    width: 190px;
}

.MegaLogoMC {
    height: 120px;
    width: 190px;
}

.MegaLogoO:hover, .MegaLogoI:hover, .MegaLogoMC:hover {
    background: #0a7091;
}

.NomsPoste {
    text-decoration: underline;
}

.BGSommaire {
    opacity: 1;
}

@media screen and (max-width: 1300px) {
    .Sommaire {
        gap: 100px;
        margin-left: 30px
    }
}

@media screen and (max-width: 1000px) {
    .Sommaire {
        gap: 50px;
    }
}

@media screen and (max-width: 938px) {
    .BS2 {
        gap: 20px;
    }
}

@media screen and (max-width: 900px) {
    .NomsEntreprises {
        font-size: 2.5em;
    }
    .Periodes {
        font-size: 1em;
    }
    .BS2 {
        gap: 50px;
    }
}

@media screen and (max-width: 600px) {
    .NomsEntreprises {
        font-size: 2em;
    }
    .BS2 {
        gap: 40px;
    }
}
