h1 {
    font-size: 3em;
    text-shadow: 2px 2px black;
}

h2 {
    font-size: 2em;
    text-shadow: 2px 2px black;
}

h3 {
    font-size: 1.3em;
    text-shadow: 1px 1px black;
}

.TitreSommaire {
    font-size: 3em;
    text-align: center;
    margin-top: 50px;
    position: relative;
    top: 30px;
    position: relative;
    z-index: 2;
}

.Sommaire {
    display: flex;
    justify-content: center;
    gap: 100px;
    position: relative;
    z-index: 2;
    margin-right: 140px;
    margin-bottom: 100px;
}

.MiniLogos {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 30px;
    position: relative;
    left: 130px;
    top: 7px;
}

.MiniL {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.NomsEntreprises{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 3em;
}

.Periodes{
    display: flex;
    flex-direction: column;
    gap: px;
    font-size: 1.5em;
    margin-top: 40px;
}

#Onogone, #IESEG, #MarieCurie {
    scroll-margin-top: 140px
}

.AlignementTitres {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.MegaLogo {
    transition: background-color 150ms;
    border-radius: 10px;
    padding: 10px;
}

.MegaLogoO {
    height: 70px;
    width: 160px;
}

.MegaLogoI {
    height: 60px;
    width: 190px;
}

.MegaLogoMC {
    height: 120px;
    width: 190px;
}

.MegaLogoO:hover, .MegaLogoI:hover, .MegaLogoMC:hover {
    background: #0a7091;
}

.NomsPoste {
    text-decoration: underline;
}

.BG {
    opacity: 0.7;
    position: absolute;
    z-index: 1;
    width: 100%;
}

.BGSommaire {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 80px;
    height: 500px;
}

.BGOnogone {
    top: 580px;
    height: 970px;
}

.BGIESEG {
    top: 1550px;
    height: 990px;
}

.BGCPGE {
    top: 2540px;
    height: 821.5px;
}

