header {
    background-color: #367ceb;
    height: 80px;
    position: sticky;
    top: 0px;
    z-index: 3;
}

footer {
        background-color: #367ceb;
        height: 160px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        color: #b9c9c9;
    
}

body {
    background-color: #5baede;
    margin: 0px;
}

nav {
    color: white;
    width: 1200px;
    display: flex;
    flex-direction: row;
    margin-right: 120px;
    justify-content: right;
    align-items: center;
    font-size: 1.2em;
}

.lien_nav {
    color: white;
    height: 40px;
    padding-top: 20px;
    padding-left: 35px;
    padding-right: 35px;
    text-decoration: none;
    transition: background-color 200ms
}

.lien_nav:hover {
    background: #0a7091;
}

.banniere nav a {
    text-decoration: none;
}

.PP {
    width: 70px;
    height: 70px;
    border-radius: 30px;
    margin-left: 100px;
    margin-top: 5px;
}

.banniere {
    display: flex;
    justify-content: space-between;
}

.ListeDeroulante {
    position: relative;
    bottom: 9px;
    line-height: 30px;
    background: #367ceb;
    padding-left: 27px;
    display: none;
    border: solid 1px
}

.ElementDeroulant {
    border: solid 1px;
    padding-right: 5px;
    padding-left: 5px;
    transition: background-color 200ms;
}

.ElementDeroulant:hover {
    background: #0a7091;
}

.LienDeroulant {
    color: white;
}

.LienDeroulant:hover {
    color: white
}

.MenuDeroulant1:hover .ListeDeroulante {
    display: block;
}

.MenuDeroulant1:hover {
    position: relative;
    top: 99px;
    left: 18.5px;
}

.MenuDeroulant2:hover .ListeDeroulante {
    display: block;
}

.MenuDeroulant2:hover {
    position: relative;
    top: 83.5px;
    
}

.MenuDeroulant3:hover .ListeDeroulante {
    display: block;
}

.MenuDeroulant3:hover {
    position: relative;
    top: 67.5px;
    
}

.MenuDeroulant4:hover .ListeDeroulante {
    display: block;
}

.MenuDeroulant4:hover {
    position: relative;
    top: 52px;
    
}

.MenuDeroulant5:hover .ListeDeroulante {
    display: block;
}

.MenuDeroulant5:hover {
    position: relative;
    top: 83.5px;
    
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: #29248a;
}

.BlocEXP {
    color: #c4bebe;
    display: block;
    background-color: rgba(68, 107, 189, 0.9);
    width: 1000px;
    text-align: justify;
    margin: auto;
    margin-bottom: 100px;
    padding: 20px 50px;
    font-size: 1.1em;
    text-shadow: 0.3px 0.3px;
    border-radius: 10px;
    box-shadow: 10px 10px 25px black;
    position: relative;
    z-index: 2;
    transition: box-shadow 500ms
}

.BlocEXP:hover {
    box-shadow: 20px 20px 50px black;
}

.BlocEXP strong {
    color: #bac9d1
}

.Categorie {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Contacts {
    width: 500px;
    margin-left: 100px;
}

.SNS {   
    width: 400px;
    position: relative;
    right: 120px
}

.TitleFooter {
    font-size: 1.2em;
    color: white;
}

.Logos {
    width: 20px;
    height: 20px;
}

.AlignementLogos {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.BlockFooter {
    margin-top: 4px
}

footer a {
    color: #b9c9c9
}

