header {
    width: 100%;
    background-color: #367ceb;
    height: 80px;
    position: sticky;
    top: 0px;
    z-index: 3;
}

footer {
    width: 100%;
    background-color: #367ceb;
    height: 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #b9c9c9;
}

body {
    background-color: #5baede;
    margin: 0px;
}

nav {
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-right: 120px;
    justify-content: right;
    align-items: flex-start;
    font-size: 1.2em;
}

#Victor {
    padding-left: 40px;
    padding-right: 40px;
}

.lien_nav {
    color: white;
    margin-top: 11px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 35px;
    padding-right: 35px;
    text-decoration: none;
    transition: background-color 200ms
}

.lien_nav:hover {
    background: #0a7091;
}

.banniere nav a {
    text-decoration: none;
}

.PP {
    width: 70px;
    height: 70px;
    border-radius: 30px;
    margin-left: 100px;
    margin-top: 5px;
}

.banniere {
    display: flex;
    justify-content: space-between;
}

.ListeDeroulante {
    display: block;
    margin-top: 12.5px;
    line-height: 30px;
    background: #367ceb;
    padding-left: 27px;
    border-left: solid 1px;
    border-right: solid 1px;
    max-height: 0;
    transition: max-height 200ms ease-in;
    overflow: hidden
}

.ElementDeroulant {
    border: solid 1px;
    padding-right: 5px;
    padding-left: 5px;
    transition: background-color 300ms;
}

.ElementDeroulant:hover {
    background: #0a7091;
}

.LienDeroulant {
    color: white;
}

.LienDeroulant:hover {
    color: white
}

:is(.MenuDeroulant1, .MenuDeroulant2, .MenuDeroulant3, .MenuDeroulant4, .MenuDeroulant5) {
    height: 80px
}

:is(.MenuDeroulant1, .MenuDeroulant2, .MenuDeroulant3, .MenuDeroulant4, .MenuDeroulant5):hover .ListeDeroulante {
    margin-top: 11.5px;
    border-top: solid 1px;
    border-bottom: solid 1px;
    max-height: 300px;
    transition: max-height 200ms ease-in;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: #29248a;
}

.BlocEXP {
    color: #c4bebe;
    display: block;
    background: radial-gradient(circle, rgba(82, 117, 194, 0.9) 0%, rgba(77, 98, 143, 0.9) 100%);
    width: 1000px;
    text-align: justify;
    margin: auto;
    margin-bottom: 100px;
    padding: 20px 50px;
    font-size: 1.1em;
    text-shadow: 0.3px 0.3px;
    border-radius: 10px;
    box-shadow: 10px 10px 25px black;
    position: relative;
    z-index: 2;
    transition: box-shadow 500ms;
}

.BlocEXP:hover {
    box-shadow: 20px 20px 50px black;
}

.BlocEXP strong {
    color: #bac9d1
}

.Categorie {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Contacts {
    width: 500px;
    margin-left: 100px;
}

.SNS {   
    width: 400px;
    position: relative;
    right: 120px
}

.TitleFooter {
    font-size: 1.2em;
    color: white;
}

.Logos {
    width: 20px;
    height: 20px;
}

.AlignementLogos {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.BlockFooter {
    margin-top: 4px
}

footer a {
    color: #b9c9c9
}

@keyframes headshake {
    0% {
        transform: scale(1.20);
    }
    25% {
        transform: translateY(10px) scale(1.20);
    }
    75% {
        transform: translateY(-10px) scale(1.20);
    }
}

@media screen and (max-width: 1460px) {
    nav {
        justify-content: center;
        margin-right: 0px;
    }
    .PP {
        display: none;
    }
}

@media screen and (max-width: 1190px) {
    .NavRespA {
        position: relative;
        bottom: 11px;
        padding-right: 45px;
        text-align: center;
    }
    .MenuDeroulant2 {
        max-width: 220px;
    }
    .ListeRespA {
        position: relative;
        bottom: 22px
    }
}

@media screen and (max-width: 1117px) {
    .NavRespB {
        position: relative;
        bottom: 11px;
        padding-right: 45px;
        text-align: center;
    }
    .ListeRespB {
        position: relative;
        bottom: 22px
    }
    footer {
        gap: 200px
    }
    .Contacts {
    margin-left: 0px;
    }
}

@media screen and (max-width: 1073px) {
    .NavRespC {
        position: relative;
        bottom: 11px;
        padding-right: 45px;
        text-align: center;
    }
    .ListeRespC {
        position: relative;
        bottom: 22px
    }
    .Contacts {
        gap: 10px;
    }
    .TitleFooter {
        width: 120px;
    }
}

